# Ignore everything
*

# But track these files and folders
!.gitignore
!uv.lock
!pyproject.toml
!.python-version
!Makefile
!*.vhd
!*.vhdl
!docs/
!scripts/
!scripts/**
!netlist_tool/
!netlist_tool/**
!skywater-pdk-libs-sky130_fd_sc_hd/
!skywater-pdk-libs-sky130_fd_sc_hd/**
!skywater-pdk-libs-sky130_fd_sc_hd/timing/
!skywater-pdk-libs-sky130_fd_sc_hd/timing/**
!skywater-pdk-libs-sky130_fd_sc_hd/timing/sky130_fd_sc_hd__tt_025C_1v80.lib
!ghdl-yosys-plugin/
!ghdl-yosys-plugin/**
